#searchButton {
    position: absolute !important;
    right: 20px !important;
    top: 72px !important;
    color: white;
    background: #292107 !important;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }