<div class="content centered">
  <div class="row">
    <header class="col s12 #e91e63 pink">
      <h4>Where is my cocktail ??!</h4>
    </header>
    <div class="col s12 div-header">
      <h6>Je cherche un cocktail qui contient : </h6>
      <p class="p-list-ingredient"></p>
    </div>
    <div class="col s12">
      <ul class="collapsible">
        <li class="active li-collapsible-header">
          <h5 class="collapsible-header"><i class="material-icons medium">liquor</i>Alcools</h5>
          <ul class="collapsible-body">
            <li (click)="toggleIngredient($event)" 
                class="li-ingredient" 
                *ngFor="let ingredient of alcools" 
                id="{{ingredient.idIngredient}}">{{ingredient.nomIngredient}}</li>
          </ul>
        </li>
        <li class="li-collapsible-header">
          <h5 class="collapsible-header"><i class="material-icons">local_cafe</i>Softs</h5>
          <ul class="collapsible-body #9c27b0 purple">
            <li class="li-ingredient" *ngFor="let ingredient of softs">{{ingredient.nomIngredient}}</li>
          </ul>
        </li>
        <li class="li-collapsible-header">
          <h5 class="collapsible-header"><i class="material-icons">category</i>Autres</h5>
          <ul class="collapsible-body #9c27b0 purple">
            <li class="li-ingredient" *ngFor="let ingredient of autres">{{ingredient.nomIngredient}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-side-menu></app-side-menu>
<app-home></app-home>
