<div class="content centered">
  <div class="row">
    <header class="col s12 #e91e63 pink">
      <h4>Where is my cocktail ??!</h4>
    </header>
    <div class="col s12 #673ab7 deep-purple">
      <h6>Je cherche un cocktail qui contient : </h6>
    </div>
    <div class="col s12 #9c27b0 purple">
      <ul class="collapsible">
        <li class="active">
          <h5 class="collapsible-header"><i class="material-icons medium">liquor</i>Alcools</h5>
          <ul class="collapsible-body">
            <li *ngFor="let ingredient of alcools" id="{{ingredient.idIngredient}}">{{ingredient.nomIngredient}}</li>
          </ul>
        </li>
        <li>
          <h5 class="collapsible-header"><i class="material-icons">local_cafe</i>Softs</h5>
          <ul class="collapsible-body">
            <li *ngFor="let ingredient of softs">{{ingredient.nomIngredient}}</li>
          </ul>
        </li>
        <li>
          <h5 class="collapsible-header"><i class="material-icons">bakery_dining</i>Autres</h5>
          <ul class="collapsible-body">
            <li *ngFor="let ingredient of autres">{{ingredient.nomIngredient}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-home></app-home>
