.content {
  width: 100%;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

h4, h6 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0 !important;
}

li {
  display: inline-block;
  background: gold;
  margin: 3px;
  border: solid black 1px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

/* ---------------------------------------------------------------- */
/* ----- DESKTOP                                                    */
/* ---------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  .content {
    width: 70% !important;
  }
}