<a class='dropdown-trigger btn' href='#' data-target='dropdownmenu'>
    <i class="medium material-icons">menu</i>
</a>

<ul id='dropdownmenu' class='dropdown-content'>
    <li><a href="#!"><i class="material-icons">local_bar</i>Trouver un cocktail qui contient [ ingredient ]</a></li>
    <li><a href="#!"><i class="material-icons">format_list_bulleted</i>Afficher les cocktals existants</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
</ul>